.movie-list {
  .movie-item {
    display: inline-block;
    width: 200px;
    overflow: hidden;
    position: relative;
    .glyphicon {
      cursor: pointer;
    }
    .name {
      display: inline-block;
    }
  }
}